
@media (min-width: 577px) and (max-width: 767.98px) {
    .btn {
        padding: 20px 65px;
        text-align: center;
        font-size: 15px;
    }
    .left-content h3 {
        font-size: 15px;
        line-height: 1.5%;
    }
    .left-content .brand-logo a {
        font-size: 17px;
        line-height: 1.5%;
    }
    .banner-content .right-content{
        display: none;
    }

    /* filter section start */
    .filter figure {
        width: calc(50% - 10px);
    }
    .top ul li a {
        font-size: 18px;
        line-height: 1.5%;
    }
    /* filter section end */
    /* price section start */
    
    .plans {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    /* price section end */
    /* watch section */
    .bottom-content {
        flex-wrap: wrap;
        padding-bottom: 10px;
    }
    .bottom-content .left-side {
        width: 100%;
        height: auto;
    }
    .bottom-content .right-side {
        padding: 0;
        margin-top: 10px;
    }
    .list {
        width: 100%;
        height: auto;
    }

}

@media (min-width: 768px) and (max-width: 991.98px){
    .filter figure {
        width: calc(32% - 4px);
    }
    /* price section start */
    .plans {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }.plans .card {
        width: 315px;
        padding: 44px 16px;
    }
    .price-btn p span {
        font-size: 35px;
    }
    price-btn .select-btn a {
        font-size: 16px;
        padding: 18px 75px;
    }
    /* price section end */
     /* watch section */
     .bottom-content {
        flex-wrap: wrap;
        padding-bottom: 10px;
    }
    .bottom-content .left-side {
        width: 100%;
        height: auto;
    }
    .bottom-content .right-side {
        padding: 0;
        margin-top: 10px;
    }
    .list {
        width: 100%;
        height: auto;
    }
    
}
@media (min-width: 992px) and (max-width: 1199.98px){
    .filter figure {
        width: calc(32% - 1px);
    }
    .plans {
        padding: 0px;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }
    .plans .card {
        width: 313px;
        padding: 30px 16px;
    }

    price-btn .select-btn a {
        font-size: 16px;
        padding: 18px 75px;
    }
    .bottom-content .right-side {
        width: 80%;
    }
    .right-side h2 {
        padding-bottom: 20px;
        font-size: 36px;
        line-height: 35px;
    }
}
@media (min-width: 1200px) and (max-width: 1399.98px){
    .plans {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }
    .plans .card {
        width: 342px;
    }

    price-btn .select-btn a {
        font-size: 16px;
        padding: 18px 75px;
    }
    .bottom-content .right-side {
        width: 90%;
    }
}

@media (max-width: 576px) {
    .banner-content .left-content .btns {
        flex-direction: column;
        gap: 13px;
        justify-content: center;
        align-items: center;
    }
    .btn {
        padding: 18px 35px;
        text-align: center;
        font-size: 15px;
        width: 75%;
    }
    .left-content img{
        padding-left: 20px;
    }
    .left-content .brand-logo img{
        width: 100%;
    }
    .left-content .brand-logo a {
        font-size: 14px;
        line-height: 1.5%;
    }
    .left-content h3 {
        font-size: 15px;
        line-height: 1.5%;
    }
    .left-content p {
        font-size: 13px;
        line-height: 1.5;
        text-align: center;
    }
    .banner-content .right-content{
        display: none;
    }

    /* figure section start */
    .top ul {
        gap: 16px;
    }
    .top ul li a {
        font-size: 14px;
        line-height: 1.5%;
    }
    .filter{
        justify-content: center;
    }
    .filter figure {
        width: 100%;
    }
    .filter figure img {
        width: 100%;
    }
    /* figure section end */
    /* price setction start */
    .plans {
        flex-direction: column;   
    }
    .plans .card {
        width: 340px;
    }
    .top-text h2 {
        font-size: 32px;
    }
    .top-text p {
        font-size: 15px;
        line-height: 15px;
    }
    .price-btn .select-btn a {
        font-size: 16px;
        padding: 18px 75px;
    }
    /* price setction end */
    /* watch section */
    .bottom-content {
        flex-wrap: wrap;
        padding-bottom: 10px;
    }
    .bottom-content .left-side {
        width: 100%;
        height: auto;
    }
    .bottom-content .right-side {
        padding: 0;
        margin-top: 10px;
    }
    .list {
        width: 100%;
        height: auto;
    }
    .right-side h2 {
        padding-bottom: 13px;
        font-size: 29px;
        line-height: 25px;
    }
    .faqs .faq .heading h2 {
        font-size: 29px;
        line-height: 35px;
    }
}