@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* All common css Start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* ul,
ol {
    list-style: none;
} */

a {
    text-decoration: none;
}

p,
h3 {
    color: #F9F9F9;
}

.container {
    max-width: 1308px;
    margin: 0 auto;
    padding: 0 16px;
}

.btn {
    background: #0063E5;
    color: #F9F9F9;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 1px;
    padding: 22px 75px;
    border-radius: 4px;
    display: inline-block;
    transition: all linear 0.3s;
}

.btn:hover {
    color: #0063E5;
    background: #F9F9F9;
}

body {
    background-color: #040714;
}
.img-fluid{
    width: 100%;
    object-fit: cover;
}

/* All common css End */

/* Navbar style Start */
nav {
    position: absolute;
    padding: 10px 0;
    background: transparent;
    width: 100%;
}

.login-menu {
    text-align: right;
}

.login-menu a {
    padding: 16px 17px;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    color: #F9F9F9;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 18px;
    font-weight: 400;
    display: inline-block;
}

/* Navbar style End */

/* banner section start */
#banner {
    background: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 138px;
    padding-bottom: 138px;
}


.banner-content {
    display: flex;
    gap: 24px;
    align-items: center;
}

.banner-content .left-content .btns {
    display: flex;
    gap: 24px;
    margin-top: 47px;
    padding-bottom: 49px;
}

.left-content .text-m {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-content h3 {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.2px;
    padding-bottom: 24px;
}

.left-content p {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.2px;
    padding-bottom: 31px;

}

.left-content p a {
    color: #ffff;
    font-size: 14px;
}

.left-content .brand-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.left-content .brand-logo a {
    color: #F9F9F9;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

/* banner section end */
/* streaming section start */
#straming-section {
    padding-top: 52px;
    padding-bottom: 170px;
}
.top {
    padding-bottom: 24px;
}
.top ul {
    display: flex;
    gap: 28px;
    justify-content: center;
    align-items: center;
}

.top ul li a {
    color: #F9F9F9;
    font-size: 20px;
    line-height: 30px;
}

.top ul li .active-btn {
    border-bottom: 5px solid #F9F9F9;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 140px;
}

.filter figure {
    width: 32%;
}

/* streaming section end */

/* Pricing section start */
.pricing {
    height: auto;
}

.pricing .top-text {
    color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.top-text h2 {
    padding-top: 25px;
    font-size: 43px;
    line-height: 54px;
    font-weight: 500;
}

.top-text p {
    color: #C0C0C0;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    padding-bottom: 26px;
}

.t-btns {
    display: flex;
    align-items: center;
    gap: 16px;
    background: #2B2D37;
    height: 48px;
    width: 235px;
    border: 5px solid #2B2D37;
    border-radius: 21px;
}

.t-btns a {
    color: #F9F9F9;
}

.t-btns .t-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 38px;
    width: 135px;
    background: #0063E5;
    border-radius: 19px;
}

.plans {
    padding: 0 45px;
    margin-top: 24px;
    width: auto;
    display: flex;
    gap: 24px;
    align-items: center;
}

.plans .card {
    height: 523px;
    width: 380px;
    border: 1px solid #C0C0C0;
    padding: 45px 41px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.plans .details img:first-child {
    padding-bottom: 27px;
}

.plans .details img:nth-child(2) {
    padding-bottom: 16px;
}

.card .details .icon-txt {
    color: #F9F9F9;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card .details .icon-txt div {
    display: flex;
}

.card .details .icon-txt span {
    width: 24px;
    height: 12.5px;
}

.card .details .icon-txt p {
    position: relative;
    top: 8px;
}

.price-btn {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.price-btn p span {
    font-size: 38px;
    font-weight: 600;
    line-height: 38px;
}

.price-btn .select-btn a {
    background: #0063E5;
    color: #F9F9F9;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 1px;
    padding: 20px 90px;
    border-radius: 4px;
    display: inline-block;
    transition: all linear 0.3s;
}

.price-btn .select-btn a:hover {
    background: #F9F9F9;
    color: #0063E5;
}

/* .price-btn .select-btn{
    height: 60px;
    width: 290px;
    border-radius: 4px;
    background: #0063E5;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.bottom-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
    padding-bottom: 140px;
}

.bottom-txt p {
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 22px;
    color: #C0C0C0;
}

.bottom-txt a {
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 22px;
    color: #F9F9F9;
}

/* Pricing section end */
/* bottom section start  */

.bottom-content .left-side {
    width: 100%;
}
.bottom-content {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.bottom-content .right-side {
    margin-top: 30px;
    width: 95;
}

.right-side h2 {
    color: #F9F9F9;
    padding-bottom: 24px;
    font-size: 38px;
    line-height: 50px;

}

.list {
    width: 100%;
    height: auto;
    padding-left: 20px;

}

.list ol {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

.list ol li {
    list-style: disc;
    color: #C0C0C0;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

.list ol li:first-child {
    padding-bottom: 10px;
}

/* bottom section end  */
span {
    color: #fff;
}

/* faq section start  */
.faq .heading {
    text-align: center;
    margin-top: 77px;
    margin-bottom: 22px;
    color: #F9F9F9;
}

.faqs .faq .heading h2 {
    font-size: 38px;
    line-height: 50px;
    color: #F9F9F9;
}

.faq .question {
    width: auto;
    height: 80px;
    background: #13151D;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding: 0 23px;
    color: #F9F9F9;
}
/* faq section end */